---
import { Img } from "astro-imagetools/components";
import Layout from "../layouts/SinglePageLayout.astro";
import FlipBook from "@components/FlipBook.vue";
import { Icon } from "astro-icon";
import Share from "@components/Share.vue";
import "@styles/components/_box.scss";
import { readdirSync } from "node:fs";
import TableOfContents from "@components/BookToc.astro";

// TODO: Replace with real SEO data
const seo = {
  title: "Example",
  metaTitle: "Example",
  metaDescription: "Example",
};

// Get jpgs
const pathToJpgs = "public/pdfs/jpg/";
const jpgs = readdirSync(pathToJpgs);
const pages: string[] = [];

jpgs.forEach((name) => {
  const fullPath = `${pathToJpgs.replace("public/", "")}${name}`;
  pages.push(fullPath);
});

// Get high res jpgs
const pathToHighResJpgs = "public/pdfs/high-res-jpg/";
const highResJpgs = readdirSync(pathToHighResJpgs);
const highResPages: string[] = [];

highResJpgs.forEach((name) => {
  const fullPath = `${pathToHighResJpgs.replace("public/", "")}${name}`;
  highResPages.push(fullPath);
});

const menuItems: object[] = [
  {
    title: "Lorem ipsum dolor ",
    url: "#1",
    pageNumber: 1,
  },
  {
    title: "Lorem ipsum dolor sit amet ",
    url: "#2",
    pageNumber: 2,
  },
  {
    title: "Lorem ipsum ",
    url: "#3",
    pageNumber: 3,
  },
  {
    title: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
    url: "#4",
    pageNumber: 4,
  },
  {
    title: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
    url: "#5",
    pageNumber: 5,
  },
  {
    title: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
    url: "#6",
    pageNumber: 6,
  },
  {
    title: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
    url: "#7",
    pageNumber: 7,
  },
  {
    title: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
    url: "#8",
    pageNumber: 8,
  },
  {
    title: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
    url: "#9",
    pageNumber: 9,
  },
  {
    title: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
    url: "#10",
    pageNumber: 10,
  },
  {
    title: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
    url: "#11",
    pageNumber: 11,
  },
  {
    title: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
    url: "#12",
    pageNumber: 12,
  },
];
---

<Layout seo={seo} contentModifierClass="index">
  <section class="c-box" id="overview">
    <Img
      src="pdfs/jpg/0001.jpg"
      alt="PLATZHALTER"
      loading="eager"
      attributes={{
        img: {
          fetchpriority: "high",
          class: "c-box__image",
        },
      }}
    />
    <div class="c-box__content">
      <h2 class="c-box__headline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h2>
      <h3 class="c-box__subheadline">
        Vitae ut tempore in, reiciendis deleniti nobis ea!
      </h3>
      <p class="c-box__description">
        Vestibulum fringilla pede sit amet augue. Vestibulum ante ipsum primis
        in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam,
        nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor
        lectus quis orci. Sed magna purus, fermentum eu, tincidunt eu, varius
        ut, felis. Aliquam eu nunc. Aenean massa. Nunc egestas, augue at
        pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo
        quis pede. Sed lectus. Integer ante arcu, accumsan a, consectetuer eget,
        posuere ut, mauris. Maecenas vestibulum mollis diam. Integer tincidunt.
        Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu,
        nisl. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla
        eleifend augue, ac auctor orci leo non est. Praesent ac massa at ligula
        laoreet iaculis. Sed a libero. Sed augue ipsum, egestas nec, vestibulum
        et, malesuada adipiscing, dui. Sed hendrerit.
      </p>

      <div class="c-box__page-numbers">
        <p class="is-label">Number of pages:</p>
        <p class="is-number">{pages.length}</p>
      </div>
      <div class="c-box__year">
        <p class="is-label">Publication year:</p>
        <p class="is-number">2022</p>
      </div>
      <a
        href="src/pdfs/9783962386368.pdf"
        class="c-box__download c-button c-button--primary"
        download
      >
        <Icon name="lucide:file-text" width="26" />
        Download PDF
      </a>
      <Share class:list={"c-box__share"} client:only />
    </div>
  </section>

  <FlipBook pages={pages} :pagesHiRes={highResPages} client:only />

  <TableOfContents toc={menuItems} />
</Layout>
