---
import { Img } from "astro-imagetools/components";
import type { Logo } from "@components/footer/types";

const { logos, classModifier } = Astro.props;
---

<div class={`o-footer__logo-grid o-footer--${classModifier}`}>
  {
    logos.map((logo: Logo) => (
      <a
        href={logo.url}
        target="_blank"
        rel="noopener"
        class="o-footer__logo-grid-item"
      >
        {logo.logo.includes(".svg") ? (
          <img src={logo.logo} alt={logo.alt} />
        ) : (
          <Img
            src={logo.logo}
            alt={logo.alt}
            attributes={{
              img: { onload: "this.style.background = 'transparent';" },
            }}
          />
        )}
      </a>
    ))
  }
</div>
